/* HEADER CLASSES */
.header {
	height: 60px !important;
	background-color: #094b91 !important;
}

.header .left-small {
	width: 3.8125rem;
	height: 3.7rem;
	border-right: 0px;
	box-shadow: none;
}

.header .left-small a {
	background-color: #5B87B6;
	margin: 0.8rem;
	height: 2.1rem;
	width: 2.1rem;

	-webkit-border-radius: 3px;
    border-radius: 3px;
}

.header .left-small span {
	left: 0.5rem;
	top: 0.1rem;
}

.header .left-small span:hover {
	-webkit-box-shadow: 0 10px 0 1px #D6E1ED, 0 16px 0 1px #D6E1ED, 0 22px 0 1px #D6E1ED;
	box-shadow: 0 10px 0 1px #D6E1ED, 0 16px 0 1px #D6E1ED, 0 22px 0 1px #D6E1ED;
}

.header .middle {
	text-align: center;
}

body, html, .off-canvas-wrap, .inner-wrap, .main-section  {
	height: 100%;
}

/* HAMBURGER MENU CLASSES */


/* HOME PAGE BUTTONS */
.maps-button {
	background-color: #222222;
	width: 100%;
	height: 60%;
	font-size: 4rem;
	font-weight: 300 !important;
	font-family: "Open Sans", Helvetica, sans-serif;
	line-height: 5rem;
	display: table;
	margin-bottom: 0px;
}

.maps-button span.fi-map {
	font-size: 6rem;
}

.maps-button .button-text {
	display: table-cell;
	vertical-align: middle;
}

.exhibitor-button {
	width: 100%;
	height: 20%;
	font-size: 2rem;
	font-weight: 300 !important;
	font-family: "Open Sans", Helvetica, sans-serif;
	display: table;
	margin-top: 0px;
	margin-bottom: 10px;
	padding-top: 0.9rem;
}

.exhibitor-button .button-text {
	display: table-cell;
	vertical-align: middle;
}

.exhibitor-button .button-text div {
	display: inline-block;
	padding: 0 5px;
}

.exhibitor-button .button-text .image {
	padding-top: 5px;
}

.exhibitor-button span.fi-list-bullet {
	font-size: 2.1rem;
}

.main-section p {
	text-align: center;
}