{% extends "mobile/base.html" %}
{% load staticfiles %}


{% block title %}Need Help?{% endblock %}

{% block content %}
	<div class="row">
		<div class="small-12 columns right">
			<h1>Need Help?</h1>
			<p>If you need any assistance during the event, you have several options<p>

			<h3>Find a Volunteer</h3>
			<p>Volunteers will be walking around the venue, and they're all sporting an awesome TCF15 badge so they're easy to spot.</p>

			<p><img src="{% static "img/TCFPerson.png" %}" width="100%" /></p>

			<h3>Visit the Info Booth</h3>
			<p>This booth is located at the front of the venue, and you probably passed it on the way in. Helpful volunteers will always be stationed here.</p>

			<p><img src="{% static "img/TCFBooth.png" %}" width="100%" /></p>
		</div>
	</div>
{% endblock %}
