{% extends "mobile/base.html" %}
{% load staticfiles %}


{% block title %}Need Help?{% endblock %}

{% block content %}
	<div class="row">
		<div class="small-12 columns right">
			<h1>Need Help?</h1>
			<p>If you need any assistance during the event, you have several options<p>

			<h3>Find a Volunteer</h3>
			<p>Volunteers will be walking around the venue, and they're all sporting an awesome TCF14 badge so they're easy to spot.</p>

			<p><img src="{% static "img/TCFPerson.png" %}" width="100%" /></p>

			<h3>Visit the Info Booth</h3>
			<p>This booth is located at the front of the venue, and you probably passed it on the way in. Helpful volunteers will always be stationed here.</p>

			<p><img src="{% static "img/TCFBooth.png" %}" width="100%" /></p>

			<h3>Contact Vlad Directly</h3>
			<p>If you can't find anyone and need help right away, just contact Vlad. He's there to help! <span class="fa fa-smile-o"></span></p>
		</div>
	</div>

	<div class="row actions-row max add-bottom">
		<div class="small-12 columns right">
			<a class="button action-button" href="tel:6047252721"><span class="fa fa-phone"></span>&nbsp; 604.725.2721</a>
			<a class="button success action-button" href="mailto:me@vladzaharia.com"><span class="fa fa-envelope-o"></span>&nbsp; me@vladzaharia.com</a>
		</div>
	</div>
{% endblock %}