{% extends "mobile/base.html" %}
{% load staticfiles %}

{% block title %}Venue Map{% endblock %}

{% block footer %}
	<script src="{% static "js/jquery.fittext.js" %}"></script>
	<script>
		$(function() {
			var width = $(".booth").width();
			$(".booth").css("height", width);
			$(".booth").css("width", width);
			$(".booth-text").fitText(0.2);
		});
	</script>
{% endblock %}

{% block content %}
<div class="map-instructions">
          <div class="map-instructions-text">
            Please select a booth number to get more information about the company.
          </div>
        </div>
        {%if row_data %}
        	<div class="map-container">
	        	{%for row in row_data %}
					<div class="map-row">
						{%for booth in row %}
							{% if booth.company %}
								<a class="booth col{{booth.col}} {% ifequal highlight booth.number %}highlight{% endifequal %}" href="{% url 'booth' booth.number %}"><span class="booth-text">{{ booth.number }}</span></a>
							{% elif booth.filler %}
								<a class="booth col{{booth.col}} empty" href="#"><span class="booth-text">&nbsp;</span></a>
							{% else %}
								<a class="booth col{{booth.col}} disabled" href="#"><span class="booth-text">{{ booth.number }}</span></a>
							{% endif %}
						{% endfor %}
					</div>
	        	{% endfor %}
	        </div>
        {% endif %}
{% endblock %}