{% extends "mobile/base.html" %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
<div class="row">
	<div class="small-12 columns">
		<h1>Privacy Policy</h1>
		<h2>Data Collected</h2>
		<p>All activities performed on the TCF14 webapp will be logged anonymously through Google Analytics. No personally identifiable information is ever recorded through this method.</p>

		<p>Additionally, all hits to company pages will be logged internally, and will be associated with an IP address. If logged in, we will additionally record this hit with your user account associated with it. This information is used solely for the purposes of improving the system and event, and is not shared with any third parties. However, any data recorded while not logged in is not linked to any user account, and will continue to remain anonymized.</p>

		<p>During registration, personally identifiable information will be collected, including a name, email address, and mobile phone number. This information will be attached to a user account in the system, and may be linked to other records by us.</p>

		<p>Finally, any information recorded by a survey or deliberate action (including, but not limited to, "Checking In") will be stored, and linked to your user account. This information is used solely for the purposes of improving the system and event, and is not shared with any third parties.</p>

		<h2>Data Retention</h2>
		<p>All data recorded internally will be kept for an indefinite period of time, while the system is still available. This data will be stored in locations outside of Canada, including the United States of America, and is subject to the laws of the country it is stored in.</p>

		<h2>Data Sharing</h2>
		<p>All recorded data is used solely by the UBC Technical Career Fair committee for the improvement of the event and system. At no point will any data recorded by this system be shared with any third parties, including companies attending the event.</p>

		<h2>Data Removal</h2>
		<p>If you do not feel comfortable with the terms of this privacy policy, you may request removal of your data by emailing vladzaharia@gmail.com. Please include all relevant information, including your user account and IP addresses used to access the system. Although we will make all possible efforts to remove data from the system, we cannot guarantee full removal of data, especially when not all available information is provided.</p>
	</div>
</div>
{% endblock %}